.container{
    background-color: bisque;
    display: flex;
    flex-direction: column;
    padding: 2vw;
}

.header {
    width: 100%;
    background-color: azure;
    margin-bottom: 20px;
    padding: 10px 3vw;
    border-radius: 10px;
    font-size: 20px;
    color: #000000;
}