.notes-section {
    display: flex;
    padding: 5vw;
    flex-direction: column;
}

.notes-section .tittle {
    background-color: tomato;
    padding: 1vw 3vw;
    margin: 0 auto ;
    color: #fff;
    border-radius: 10px;
}

.notes-section .all-notes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 3vw;
}

.notes-section .all-notes .note-box {
    display: flex;
    align-items: center;
} 

.notes-section .all-notes .note-box .note {
    margin: 0 10px;
}